<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul class="cupcake-list"></ul>
    <form>
    <label for="flavor">Flavor:</label>
    <input type="text" name="flavor" id="flavor" placeholder="Enter the flavor" required>
    <label for="size">Size:</label>
    <input type="text" name="size" id="size" placeholder="Enter the size" required>
    <label for="rating">Rating:</label>
    <input type="text" name="rating" id="rating" placeholder="Enter the rating" required>
    <label for="image">Image:</label>
    <input type="text" name="image" id="image" placeholder="Enter image URL">
    <button>Submit</button>
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.7/axios.min.js" integrity="sha512-DdX/YwF5e41Ok+AI81HI8f5/5UsoxCVT9GKYZRIzpLxb8Twz4ZwPPX+jQMwMhNQ9b5+zDEefc+dcvQoPWGNZ3g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/static/cupcakes.js"></script>
</body>
</html>